@charset "utf-8";

:root{
  --sub-font: "Kalnia", serif;
  --sub-color: #fff;
}

body{overflow-x: hidden; font-family: "Pretendard" , sans-serif; font-size: 1.6rem; line-height: 1.5; color: #000;}
.inner{max-width: 1600px; margin: 0 auto; padding: 0 20px;}



/* header */
#header{position: absolute; left: 0; top: 0; width: 100%; z-index: 2; padding: 30px;}
#header .inner{display: flex; justify-content: space-between; text-align: center; align-items: center;}
#header h1{position: absolute; left: 50%; top: 30px; transform: translateX(-50%);}
#header .gnb{display: flex; color: white;}
#header .gnb > li > a{padding: 20px;}
#header .btn_more{background: none; cursor: pointer;}
#header .util{display: flex; gap: 20px; color: white; font-weight: 300;}

#header .ham{background: none; cursor: pointer; display: none;}

/* 2차메뉴 */
#header .gnb > li{position: relative;}
#header .gnb .depth2{position: absolute; width: 400px; display: flex; margin-top: 20px; opacity: 0.6; font-size: 1.4rem;}
#header .gnb .depth2 li a{padding: 20px;}

#header .gnb > li:nth-child(3) .depth2{transform: translateX(-50px);}
#header .gnb > li:nth-child(4) .depth2{transform: translateX(-50px);}

@media(max-width: 1200px) {
  #header .gnb{display: none;}
  #header .ham{display: block;}
  #header .util p:not(:last-child){display: none;}
}
@media(max-width: 768px) {
  #header h1{position: static; transform: translateX(0);}
  #header .util{display: none;}
}




/* 검색 영역 */
.search_wrap{z-index: 10; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: #eeeeee; text-align: center; display: none;}
.search_wrap form{height: 100vh; max-width: 1000px; margin: 0 auto; display: flex; justify-content: center; align-items: center;}
.search_wrap .input_box{display: flex; justify-content: center; width: 100%;}
.search_wrap input[type="text"]{border-bottom: 3px solid #000; background: transparent; font-family: "Pretendard" , sans-serif; font-size: 1.8rem; line-height: 1.5; color: #000; width: calc(100vh - 150px); padding-bottom: 10px;}
.search_wrap input[type="submit"]{font-size: 0; width: 50px; width: 50px; background: url(../images/search.png) no-repeat center center; cursor: pointer; border-bottom: 3px solid #000;}

.search_wrap p{text-align: start; margin-top: 15px;}
.search_wrap p strong{display: inline-block; margin-right: 10px;}
.search_wrap p span{display: inline-block; margin-right: 10px;}

.search_close{position: absolute; top: 0; left: 50%; transform: translateX(-50%); background: #000; width: 50px; height: 50px; cursor: pointer;}





/* mgnb_wrap */
.mgnb_wrap{position: fixed; top: 0; left: 0; z-index: 20; display: none;}
.mgnb_wrap .dim{width: 100vw; height: 100vh; background: rgba(0,0,0,0.7); display: none;}
.mgnb_wrap .mgnb_box{width: 80%; height: 100vh; position: absolute; top: 0; right: -100%; background: #eeeeee; padding: 95px 30px 390px;}
.mgnb_wrap .mgnb_box .mgnb{border-bottom: 1px solid #ccc; border-top: 1px solid #ccc; padding: 35px 20px; text-align: start;}
.mgnb_wrap .mgnb_box .mgnb li a{display: inline-block; font-size: 3.5rem; font-weight: 500; margin-bottom: 40px;}
.mgnb_wrap .mgnb_box .mgnb li a span{display: inline-block; font-family: var(--sub-font); font-size: 2rem; opacity: 0.4;}
.mgnb_close{position: absolute; top: 50px; right: 30px;}









/* banner */
.banner{height: 100vh;}
.banner .banner_list .slide01{width: 100vw; height: 100vh; background: url(../images/visual_01.jpg) no-repeat center center;}
.banner .banner_list .slide02{width: 100vw; height: 100vh; background: url(../images/visual_02.jpg) no-repeat center center;}
.banner .banner_list li{text-align: center; padding-top: 340px;}
.banner .banner_list li strong{display: block; font-family: var(--sub-font); color: white; font-size: 6rem; font-weight: 400; text-transform: capitalize;}
.banner .banner_list li h2{font-size: 4.4rem; color: #fff; font-weight: 400; padding: 40px 0 20px;}
.banner .banner_list li p{color: #fff; font-size: 1.8rem; opacity: 0.6;}
.banner .swiper-pagination{color: white; bottom: 50px;}
.swiper-button-next{top: auto; color: transparent; right: 50%; transform: translateX(250%); bottom: 53px; width: 40px; height: 20px; background: url(../images/arrow_next.png)}
.swiper-button-prev{top: auto; bottom: 53px; left: 50%; transform: translateX(-250%); color: transparent; width: 40px; height: 20px; background: url(../images/arrow_prev.png);}

@media (max-width: 1000px){
  .banner .banner_list li strong{font-size: 3rem;}
  .banner .banner_list li h2{font-size: 3rem;}
  .banner .banner_list li p{font-size: 1.6rem;}
}
@media (max-width: 768px){
  .banner .banner_list li strong{font-size: 2rem;}
  .banner .banner_list li h2{font-size: 2rem; padding: 28px 0 13px;}
  .banner .banner_list li p{font-size: 1.4rem;}
}


.p200 {padding: 200px 0}
h3{font-size: 4.4rem;}
.p1{font-size: 2rem; opacity: 0.5; padding: 40px 0;}
.more a{opacity: 0.7; font-size: 1.5rem; border-bottom: 1px solid #000;}

@media (max-width: 1000px){
  .p200{padding: 100px 0;}
}



/* impo */
.impo .inner{text-align: center; position: relative;}
.impo ul li img{width: 100%; display: block;}
.impo ul li{position: relative;}
.impo ul li strong{display: inline-block; position: absolute; top: 0; left: 0; background: #000; color: #fff; font-weight: 400; padding: 15px 30px;}
.impo ul .swiper-slide{transform: scale(0.9,0.9); filter: opacity(0.5) grayscale(100%); transition: all 0.5s;}
.impo ul .swiper-slide-active{transform: scale(1,1); filter: opacity(1) grayscale(0);}

.impo .next_btn{top: auto; bottom: 300px; right: 0; transform: translateX(0); width: 100px; height: 40px; background: #000 url(../images/arrow_next.png) no-repeat center center; color: transparent; padding: 10px 20px;}
.impo .swiper-button-prev{top: auto; bottom: 300px; transform: translateX(0); left: 0; width: 100px; height: 40px; background: #000 url(../images/arrow_prev.png) no-repeat center center; color: transparent; padding: 10px 20px;}
.impo .more{display: block; text-align: center; margin-top: 50px; display: none;}
.impo .p1 br{display: none;}


@media (max-width: 1000px){
  .impo{padding: 150px 0;}
  .impo .next_btn{display: none;}
  .impo .swiper-button-prev{display: none;}
  .impo .more{display: block;}
  .impo h3{font-size: 3.7rem;}
  .impo .p1{font-size: 1.8rem; padding: 20px 0 30px;}
  .impo .p1 br{display: none;}
}
@media (max-width: 768px){
  .impo{padding: 100px 0;}
  .impo h3{font-size: 2.6rem;}
  .impo .p1{font-size: 1.6rem; padding: 25px 0 30px;}
  .impo .p1 br{display: block;}
}





/* design */
.design .design_wrap{display: grid; grid-template-columns: 50% 50%;}
.design .design_txt{background: #eeeeee; text-align: center; display: flex; align-items: center;}
.design .design_txt a{border-bottom: 1px solid #000; font-size: 1.4rem; opacity: 0.8;}
.design_img img{width: 100%; display: block;}
.design .swiper-pagination .swiper-pagination-bullet-active{background: #ff6600; width: 30px; border-radius: 8px;}
.design .swiper-pagination span{ opacity: 1; transition: all 0.5s; background: #fff;}

@media (max-width: 1200px){
  .design .design_wrap{grid-template-columns: 100%;}
  .design .design_txt{padding: 25px;}
  .design .design_txt h3{font-size: 3.7rem;}
  .design .design_txt p{font-size: 1.7rem; padding: 30px 0;}
}
@media (max-width: 768px){
  .design .design_txt{padding: 25px;}
  .design .design_txt h3{font-size: 3rem;}
  .design .design_txt p{font-size: 1.4rem; padding: 25px 0;}
}



/* gallery */
.gallery .inner{text-align: center;}
.gallery ul{display: flex; flex-wrap: wrap;}
.gallery ul li{width: 25%; height: 500px; transition: all 1s; color: white; align-items: center;}
.gallery ul li:nth-child(1){background: url(../images/gallery_01.jpg) no-repeat center center / cover;}
.gallery ul li:nth-child(2){background: url(../images/gallery_02.jpg) no-repeat center center / cover;}
.gallery ul li:nth-child(3){background: url(../images/gallery_03.jpg) no-repeat center center / cover;}
.gallery ul li dl{padding-top: 200px;}
.gallery ul li dl dt{font-family: var(--sub-font); font-size: 2.3rem;}
.gallery ul li dl dd{font-size: 1.5rem; margin: 20px 0; opacity: 0;}
.gallery ul li dl .more a{border-bottom: 1px solid #fff; opacity: 0;}


.gallery ul li.active{width: 50%;}
.gallery ul li.active dl dd{opacity: 1;}

@media(max-width: 1100px){
  .gallery h3{font-size: 3.7rem;}
  .gallery ul li{width: 100%; height: 400px;}
  .gallery ul li.active{width: 100%;}
  .gallery ul li dl{padding-top: 150px;}
  .gallery ul li dl dd{opacity: 1;}
  .gallery ul li dl .more a{opacity: 0.7;}
}
@media(max-width: 768px){
  .gallery h3{font-size: 3rem;}
  .gallery ul li{width: 100%; height: 250px;}
  .gallery ul li.active{width: 100%;}
  .gallery ul li dl{padding-top: 55px;}
  .gallery ul li dl dt{font-size: 2rem;}
  .gallery ul li dl dd{font-size: 1.4rem;}
  .gallery ul li dl .more a{font-size: 1.4rem;}
}


/* footer */
#footer{border-top: 1px solid #ccc; text-align: center; position: relative; padding: 100px 0 200px; font-size: 1.5rem; opacity: 0.5;}
#footer h3{position: absolute; bottom: 70px; left: 50%; transform: translateX(-50%); padding-top: 20px; border-top: 1px solid #ccc;}

#footer ul{display: flex; justify-content: center;}
#footer ul li a{display: inline-block; padding: 0 10px; border-right: 1px solid #ccc;}
#footer ul li:nth-of-type(3) a{border: none;}
#footer .name{display: flex; flex-wrap: wrap; gap: 20px; justify-content: center; margin: 20px 0;}
#footer .name dl{display: flex;}
#footer .name dl dd{padding-left: 5px;}


.gotop{position: absolute; top: 0; left: 50%; transform: translateX(-50%); border: 1px solid #ccc;}
.gotop a{display: inline-block; padding: 10px 15px;}

@media(max-width: 768px){
  #footer {font-size: 1.2rem; padding: 80px 0 180px;}
  #footer ul{flex-wrap: wrap;}
  #footer .name{gap: 10px;}
}